.cart {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  position: relative;
  border-top: 1px solid var(--vkui--color_text_primary);
}

.cart::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--vkui--color_text_primary);
}

.cart::after {
  right: 25%; /* Adjust based on your grid layout */
}
