.item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 8px 24px;
}

.item__image {
  width: 160px;
  height: 160px;
  overflow: hidden;
  object-fit: fill;
  margin: 8px;
  border-radius: 8px;
}

.item__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.item__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item__description {
  padding: 8px 8px;
  font-size: 12px;
  line-height: 16px;
  max-width: 360px;
}

.item__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.item__amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.item__title {
  max-width: 360px;
  padding: 8px 8px;
}

.item__button_enabled {
  color: var(--vkui--color_text_accent);
  cursor: pointer;
}
