.item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 8px 24px;
}

.item__image {
  width: 144px;
  height: 144px;
  overflow: hidden;
  object-fit: fill;
  border-radius: 8px;
}

.item__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.item__details {
}

.item__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.item__amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.item__title {
  max-width: 360px;
}
